@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* Zerando CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Fundo-tela */

html {
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    color: white;
    font-family: 'Lato', sans-serif;
}

body {
    background: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20, 20, 20, 1)), url(/imgcd.jpg);
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
}
/* Menu - Header - NavBar */

header {
    width: 100%;
    height: 7vh;
    background-color: rgba(22, 22, 22, 0.2);
}

.menu-content {
    text-transform: uppercase;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.8rem;
}



.menu-content .list-itens {
    display: flex;
    list-style: none;
    gap: 10px;
}

.menu-content .list-itens a {
    text-decoration: none;
    color: white;
    padding: 1.5rem;
    transform: 2ms ease-in;
    position: relative;
}


.menu-content .list-itens a:before {
    content: ' ';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0px;
    height: 1px;
    background-color: rgb(251, 255, 0);
    transition: all 1.5s ease; 
}

.menu-content .list-itens a:hover:before {
    width: 100%;
}
/* Botões */


.inputs {
    display: contents;
    justify-content: right;
    gap: 20px;
    width: 250px;
    height: 40px;
    top: 74px;
    left: 1162px;
    text-align: right;
}
/*
.btns button {
    width: 250px;
    height: 60px;
    cursor: pointer;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    background-color: transparent;
    font-weight: bold;
    letter-spacing: 0.2rem;
    border-radius: 20px;
    position: relative;
    transition: 1.5s;
}

.btns button:hover {
    color: rgb(251, 255, 0);
    border: none;
}

.btns button:before {
    content: ' ';
    border-radius: 20px;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 0;
    height: 60px;
    background-color: rgb(61, 61, 61);
    z-index: -1;
    transition: 1s;
}

.btns button:hover:before {
    width: 100%;
}
*/

.txtBusca{
    width: 250px;
    height: 40px;
    top: 74px;
    left: 1162px;
    text-align: justify;
}
/*   Área dos podcasts   */
.backgroundvideo{
    position: absolute;
width: 1267px;
height: 536px;
left: 86px;
top: 337px;
}
.titulos1{
    position: absolute;
    width: 95.5px;
    height: 19.31px;
    left: 300px;
    top: 184.9px;
}
.titulos2{
    position: absolute;
width: 100.46px;
height: 19.31px;
left: 900px;
top: 185px;
}
.titulos3{
    position: absolute;
    width: 100.07px;
    height: 19.31px;
    left: 1600px;
    top: 176px;
}
.container-audio{
    width: 66%;
    height: auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #eee;
    color: #444;
    margin: 20px auto;
    overflow: hidden;
}
.audio{
    width:100%;
}
audio:nth-child(2), audio:nth-child(4), audio:nth-child(6) {
    margin: 0;
}